<% include partials/header %>

<header class="jumbotron">
         <div class="container">
             <h1>Welcome To IB Discuss</h1>
        </div>
     </header>

<a href="/blogs">View All </a>

<% include partials/footer %>//yus